.questions-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    overflow: hidden;
    position: relative;
}

.question {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.buttons {
    position: relative;
    width: 100%;
}

.yes-button {
    position: absolute;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: top 0.3s ease, left 0.3s ease, transform 0.2s ease;
}

.yes-button:hover {
    transform: scale(1.1);
}

.no-button {
    position: absolute;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}